
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Settlement</title>

    <link href="~/Areas/Admin/Styles/settlement-temp.css" rel="stylesheet" />
    @*<link href="~/Styles/bootstrap.css" rel="stylesheet" />*@

    @RenderSection("HeadStyles", false)

    <script src="~/Scripts/libs/angularjs/angular.js"></script>
    <script src="~/Scripts/libs/angularjs/angular-route.js"></script>
    <script src="~/Scripts/libs/angularjs/angular-messages.js"></script>
    <script src="~/Scripts/libs/angularjs/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="~/Scripts/app/shared/settlement.module.js"></script>

    @RenderSection("HeadScripts", false)

</head>
<body ng-app="settlementModule">
    <header>
        @if (IsSectionDefined("PageHeader"))
        {
            @RenderSection("PageHeader", false)
        }
        else
        {
            <h2>eQuiz</h2>
            <h4 ng-style="{ 'display' : 'block' }" style="display:none;color:green;">{{ "AngularJS is functional" }}</h4>
            <h4 ng-style="{ 'display' : 'none' }" style="display:block;color:red;">AngularJS is not functional</h4>
        }
    </header>
    <section> 
        @RenderBody()
    </section>
    <footer>
        @RenderSection("PageFooter", false)
    </footer>
    @RenderSection("FootScripts", false)
</body>
</html>
