@model eQuiz.Web.Areas.Moderator.Models.QuizPreviewModel
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.showButton = !Model.State.Equals("Scheduled");
}

<div align="center">
    <h2>@Model.Name</h2>
    <p ng-controller="QuizController as qc">
        <a href="/moderator/quiz/edit/#/quiz?id=@Model.Id">Edit</a>
        <a href="" ng-show="@ViewBag.showButton" ng-click="qc.model.quiz.Id=@Model.Id; qc.deleteQuiz()">Delete</a>
    </p>
    <p>
        <i>@Model.Descriprtion</i>
    </p>
    <table class="table-quiz-info" >
        <tr>
            <td><b>Type:</b></td>
            <td>@Model.Type</td>
        </tr>

        <tr>
            <td><b>State:</b></td>
            <td>@Model.State</td>
        </tr>

        <tr>
            <td><b>Group name:</b></td>
            <td>@Model.Group</td>
        </tr>

        <tr>
            <td><b>Start date:</b></td>
            <td>@Model.StartDate</td>
        </tr>

        <tr>
            <td><b>End date:</b></td>
            <td>@Model.EndDate</td>
        </tr>

        <tr>
            <td><b>Time limit in minutes:</b></td>
            <td>@Model.TimeLimitMinutes</td>
        </tr>

        <tr>
            <td><b>Internet access:</b></td>
            <td>@Model.InternetAccess.ToString()</td>
        </tr>

        <tr>
            <td><b>Topic:</b></td>
            <td>@Model.Topic</td>
        </tr>

        <tr>
            <td><b>Is random:</b></td>
            <td>@Model.IsRandom.ToString()</td>
        </tr>

        <tr>
            <td><b>Question min complexity:</b></td>
            <td>@Model.QuestionMinComplexity</td>
        </tr>

        <tr>
            <td><b>Question max complexity:</b></td>
            <td>@Model.QuestionMaxComplexity</td>
        </tr>

        <tr>
            <td><b>Question count:</b></td>
            <td>@Model.QuestionCount</td>
        </tr>
    </table>

    @foreach (var question in Model.Questions)
    {
        <table class="table-quiz-info">
            <tr>
                <td><b>Question Score:</b></td>
                <td>@question.QuestionScore</td>
            </tr>
            <tr>
                <td><b>Question complexity:</b></td>
                <td>@question.QuestionComplexity</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>
                        <i>@question.Text</i>
                    </p>
                    @switch (question.Type)
                    {
                        case "Descriptive":
                            {
                                <p>@question.Answers[0].AnswerText</p>
                            }
                            break;
                        case "Select one":
                            {
                                <form>
                                    @foreach (var answer in question.Answers)
                                    {
                                        if (answer.IsRight == true)
                                         {
                                             <input type="radio" disabled="disabled" checked/>
                                             @answer.AnswerText
                                             ;
                                             <br>
                                        }
                                        else
                                        {
                                            <input type="radio" disabled="disabled"/>
                                            @answer.AnswerText
                                            ;
                                            <br>
                                        }
                                    }
                                </form>
                                break;
                            }
                        case "Select many":
                            {
                                <form>
                                    @foreach (var answer in question.Answers)
                                    {
                                        if (answer.IsRight == true)
                                        {
                                            <input type="checkbox" disabled="disabled" checked />
                                            @answer.AnswerText
                                            ;
                                            <br>
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                            @answer.AnswerText
                                            ;
                                            <br>
                                        }
                                    }
                                </form>
                                break;
                            }
                    }
                </td>
            </tr>
        </table>
    }
</div>

@section FootScripts{
    <script src="~/Scripts/app/shared/equiz.module.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/mvc-location.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/quiz.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/quiz.controller.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/question.service.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/shared/show-error.directive.js"></script>
    <script src="~/Areas/Moderator/Scripts/app/pages/quiz/unique-quiz-name.directive.js"></script>
}

@section HeadStyles{    
    <link href="~/Areas/Moderator/Styles/equiz-temp.css" rel="stylesheet" />
}

@section PageHeader{
    @{
        Html.RenderPartial("~/Areas/Moderator/Views/Shared/_Header.cshtml");
    }
}